#paiement{
	/*width: 100%;*/
	padding: 30px;
	/*margin-top: 30px;*/
	border-radius: 10px;
}
#s_paiement{
	background-color:rgba(0,0,0,0.6);
    padding: 30px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
}
#s_paiement form input{
	text-align: center;
	border-radius: 8px;
	height: 25px;
	border-top: none;
	border-left: none;
	border-right: none;
	display: block;
	margin-bottom: 10px;
	
}
/*#s_paiement form{
	
}*/
#s_paiement form button{
	border-radius: 8px;
	margin-top: 10px;
}

#row_p{
	margin-right: 0;
}